---
pageable: false
---

<form class="pure-form">
  <input type="text" placeholder="Search for jargon" class="pure-input-rounded search">
</form>
<div class="list">
<% jargon_articles.each do |article| %>
  <article>
    <h2 class="name"><%= link_to article.title, article %></h2>
    <span class="summary">
    <%= article.summary %>
    </span>
    <%= link_to "Read more...", article %>
  </article>
<% end %>
</div>

<article>
  <h2>I want more!</h2>

  <p> What's missing? What would you love to know that's not here?</p>
  <a href="http://ctt.ec/fcwfx" class="pure-button pure-button-primary">Request a topic</a>
</article>

<article>
  <h2>Want to learn technical marketing?</h2>
  <p>I'm making a course teaching technical marketing.</p>
  <p>Sign up if you want to know more!</p>
  <form action="http://synapticmishap.createsend.com/t/r/s/hylhjyl/" method="post" id="subForm" class="pure-form pure-form-aligned">
    <p>
    <label for="fieldName">Name</label><br />
    <input id="fieldName" name="cm-name" placeholder="Name"  type="text"/>
    </p>
    <p>
    <label for="fieldEmail">Email</label><br />
    <input id="fieldEmail" placeholder="Email address (required)"  name="cm-hylhjyl-hylhjyl" type="email" required />
    </p>
    <p>
    <button type="submit" class="pure-button pure-button-primary">I want to learn technical marketing</button>
    </p>
    <small>No spam. Promise.</small>
  </form>
</article>

<article>
  <h2><%= link_to "What is Jar Jar Gone?", "/about" %></h2>
</article>

