<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jar Jar Gone - <%= current_page.data.title %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .l-box {
            padding: 1em;
        }

        .content {
          margin-left: auto;
          margin-right: auto;
          padding-left: 2em;
          padding-right: 2em;
          max-width: 560px;
        }
    </style>
  </head>
  <body>
    <div id="layout" class="pure-g" role="main">
      <div class="pure-u-1">
        <div class="l-box content">
          <h1><%= current_page.data.title %></h1>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
